.casino-games {
	padding-top: 0.625rem;
	text-align: center;
	
    &__h2 {
		color: var(--color-first);
        text-align: center;
		padding: 0 0 0.375rem 0;
		border-bottom: 1px solid var(--color-first-low);
		width: 100%;
		margin: 0;
		font-weight: 900;
		text-transform: uppercase;
    }
	
    &__background {
		padding-top: 2.375rem;
		background-color: var(--color-main);
		margin-bottom: 23px;
    }
	
    &__col {
		max-width: 1280px;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		padding-bottom: 22px;
    }

	
	&__col--grid {
		row-gap: 1rem;
		
		@include from(l) {
			row-gap: 1.125rem;
		}
	}

    &__col--h3 {
		font-size: var(--small-font-size);
		align-items: center;
		text-align: center;
		max-height: 100px;
		height: 100%;
		margin: 0;
		margin-top: -20px;
		color: var(--color-first);
		text-transform: uppercase;
		font-weight: 500;
    }
	
    &__col--card {
		display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
		
		@include from(l) {
			&:hover {
				h3 {
					color: var(--color-second-dark);
				}
			}
        }
    }
	
	&__col--card-img {
		max-width: 200px;
		min-width: 90px;
		width: 100%;
	}

    &__col--title {
        text-align: center;
        color: var(--color-first);
        font-weight: 900;
		text-transform: uppercase;
    }

	&__col--boxes {
		row-gap: 1rem;
		column-gap: 1.5rem;
	}
	
	&__col--box {
		display: flex;
		align-items: center;
		border: 0.7976px solid var(--color-first);
		border-radius: 5px;
		padding: 0.5rem;
		height: 40px;
		width: 100%;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		
		@include from(l) {
			width: 128.6199951171875px;
		}

		img {
			width: auto;
			height: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__col--button {
		padding: 10px 14px;
		font-size: var(--normal-font-size);
	}
}
