.main-container {
	&__table--caption {
		margin-bottom: 80px;
	}

	&__table--table {
		padding: 25px;
		border-radius: 10px;
		box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.5);
		width: 347px;
	}

	&__table--td {
		width: 25%;
	}
}
