<div class="banking-layout">
	<h1 class="banking-layout__h1">banca</h1>
	<div class="banking-layout__background">
		<div class="ed-container">
			<div class="ed-item">
				<div class="tabs-container">
					<ul class="tabs-container__tabs" id="tabs">
						<li class="tabs-container__tab is-active">Depositos</li>
						<li class="tabs-container__tab">Retiros</li>
					</ul>
					<div class="tabs-container__panels">
						<div class="tabs-container__panel is-active">
							<div class="tabs-container__card">
								<div class="tabs-container__card--logo ">
									<h2 class="tabs-container__card--h2">visa / mastercard</h2>
									<img src="assets/img/banking/visa.png" alt="Transferencias Bancarias"
										class="tabs-container__card--img">
								</div>
								<div class="tabs-container__card--content">
									<p>
										Depósito Mínimo de $50USD
									</p>
									<p>
										Contáctanos en el departamento de banca en línea en
										el chat para más información.
									</p>
								</div>
								<div class="tabs-container__card--button">
									<a href="#" class="btn btn__primary">Deposita ahora</a>
								</div>
							</div>

							<div class="tabs-container__card">
								<div class="tabs-container__card--logo">
									<h2 class="tabs-container__card--h2">Envio de dinero</h2>
									<img src="assets/img/banking/ria.png" alt="Envio de dinero"
										class="tabs-container__card--img">
								</div>
								<div class="tabs-container__card--content">
									<p>
										Retiro Mínimo de $100usd
									</p>
									<p>
										Retiro Máximo de $400usd
									</p>
									<p>
										Comisión variable dependiendo del monto.
									</p>
									<p>
										Contáctanos en el departamento de “banca en línea” en el
										chat antes de las 11am hora del este para procesar tu envío el mismo día.
									</p>
								</div>
								<div class="tabs-container__card--button">
									<a href="#" class="btn btn__primary">Deposita ahora</a>
								</div>
							</div>

							<div class="tabs-container__card">
								<div class="tabs-container__card--logo">
									<h2 class="tabs-container__card--h2">Cripto Moneda</h2>
									<img src="assets/img/banking/cripto.png" alt="Cripto Moneda"
										class="tabs-container__card--img">
								</div>
								<div class="tabs-container__card--content">
									<p>
										Deposito Mínimo de $100
									</p>
									<p>
										Cargo de $10 reembolsable
									</p>
									<p>
										Tiempo de acreditación 20-25 minutos (dentro del horario del proveedor)
									</p>
									<p>
										Contáctanos en el departamento de banca en línea en el chat para más información
									</p>
								</div>
								<div class="tabs-container__card--button">
									<a href="#" class="btn btn__primary">Deposita ahora</a>
								</div>
							</div>
							<div class="caballos-layout__sign-up">
								<a class="btn btn__primary caballos-layout__sign-up--href" href="register.html">Registrate ahora</a>
							</div>
						</div>

						<div class="tabs-container__panel">					
							<div class="tabs-container__card">
								<div class="tabs-container__card--logo">
									<h2 class="tabs-container__card--h2">Envio de dinero</h2>
									<img src="assets/img/banking/ria.png" alt="Envio de dinero"
										class="tabs-container__card--img">
								</div>
								<div class="tabs-container__card--content">
									<p>
										Retiro Mínimo de $100usd
									</p>
									<p>
										Retiro Máximo de $400usd
									</p>
									<p>
										Comisión variable dependiendo del monto.
									</p>
									<p>
										Contáctanos en el departamento de “banca en línea” en el
										chat antes de las 11am hora del este para procesar tu envío el mismo día.
									</p>
								</div>
								<div class="tabs-container__card--button">
									<a href="#" class="btn btn__primary">Deposita ahora</a>
								</div>
							</div>
	
							<div class="tabs-container__card">
								<div class="tabs-container__card--logo">
									<h2 class="tabs-container__card--h2">Cripto Moneda</h2>
									<img src="assets/img/banking/cripto.png" alt="Cripto Moneda"
										class="tabs-container__card--img">
								</div>
								<div class="tabs-container__card--content">
									<p>
										Deposito Mínimo de $100
									</p>
									<p>
										Cargo de $10 reembolsable
									</p>
									<p>
										Tiempo de acreditación 20-25 minutos (dentro del horario del proveedor)
									</p>
									<p>
										Contáctanos en el departamento de banca en línea en el chat para más información
									</p>
								</div>
								<div class="tabs-container__card--button">
									<a href="#" class="btn btn__primary">Deposita ahora</a>
								</div>
							</div>
							<div class="tabs-container__note">
								<p class="tabs-container__note--p">Si solicitas un retiro sin haber apostado una cantidad igual o superior a la cantidad
								depositada, podemos solicitarte que realices una apuesta por la totalidad o parte de los
									depósitos anteriores efectuados y/o cobrar una tasa por el retiro solicitado. Así mismo,
									si el depósito por medio de tarjeta de crédito no ha sido jugado en su totalidad, las
									solicitudes de retiro tendrán que esperar 2 meses para ser procesados si los mismos NO
									son jugados.
								</p>
							</div>
							<div class="caballos-layout__sign-up">
								<a class="btn btn__primary caballos-layout__sign-up--href" href="register.html">Registrate ahora</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
