<div class="casino-grid">
	<div class="casino-grid__container">
		<h2 class="casino-grid__h2">Casino</h2>
		<div class="casino-grid__grid ed-grid s-grid-2 m-grid-3 l-grid-6">
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
			<div class="casino-grid__card--relative">
				<a class="casino-grid__card" href="#">
					<img class="casino-grid__card-img" src="assets/img/casino-home/image7.jpg" alt="gates of olynpus" />
					<div class="casino-grid__card-content">
						<h3 class="casino-grid__content--h3">gates of olympus</h3>
						<img class="casino-grid__content--img" src="assets/img/casino-home/pragamatic-white.svg" alt="pragmatic play">
					</div>
				</a>
				<div class="casino-grid__hover">
					<h3 class="casino-grid__hover--h3">Gates of olympus</h3>
					<a class="casino-grid__hover--a btn btn__primary" href="#">Juega real</a>
					<a class="casino-grid__hover--a btn btn__secondary" href="#">Juega por diversion</a>
				</div>
			</div>
		</div>
	</div>
<section>
