<div class="casino-games">
	<h2 class="casino-games__h2">Casino</h2>
	<div class="casino-games__background">
		<div class="casino-games__col">
			<div class="casino-games__col--grid ed-grid s-grid-2 m-grid-3 l-grid-6">
				<a class="casino-games__col--card" href="live-games.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/live-games.png" alt="Live Games" />
					<h3 class="casino-games__col--h3">Live Games</h3>
				</a>
				<a class="casino-games__col--card" href="table-games.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/table-games.png"
						alt="Table Games" />
					<h3 class="casino-games__col--h3">Table Games</h3>
				</a>
				<a class="casino-games__col--card" href="slots.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/slots-games.png" alt="Slots" />
					<h3 class="casino-games__col--h3">Slots</h3>
				</a>
				<a class="casino-games__col--card" href="3d-slots.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/3D-slots-games.png"
						alt="3D Slots" />
					<h3 class="casino-games__col--h3">3D Slots</h3>
				</a>
				<a class="casino-games__col--card" href="video-poker.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/videopoker-games.png"
						alt="Video Poker" />
					<h3 class="casino-games__col--h3">Video Poker</h3>
				</a>
				<a class="casino-games__col--card" href="virtual-sports.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/virtual-sports.png"
						alt="Virtual Sports" />
					<h3 class="casino-games__col--h3">Virtual Sports</h3>
				</a>
				<a class="casino-games__col--card" href="scratch-cards.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/scratch-card.png"
						alt="Scratch Cards" />
					<h3 class="casino-games__col--h3">scratch card</h3>
				</a>
				<a class="casino-games__col--card" href="juegos-de-mesa.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/fixed-odds-games.png"
						alt="juegos de mesa" />
					<h3 class="casino-games__col--h3">Juegos de mesa</h3>
				</a>
				<a class="casino-games__col--card" href="other-games.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/other-games-games.png"
						alt="Other games" />
					<h3 class="casino-games__col--h3">Other games</h3>
				</a>
				<a class="casino-games__col--card" href="blackjack.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/blackjack.png" alt="blackjack" />
					<h3 class="casino-games__col--h3">blackjack</h3>
				</a>
				<a class="casino-games__col--card" href="bingo.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/bingo.png" alt="bingo" />
					<h3 class="casino-games__col--h3">bingo</h3>
				</a>
				<a class="casino-games__col--card" href="keno.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/keno.png" alt="keno" />
					<h3 class="casino-games__col--h3">keno</h3>
				</a>
				<a class="casino-games__col--card" href="roulette.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/roultetes-games.png"
						alt="Roulette" />
					<h3 class="casino-games__col--h3">Roulette</h3>
				</a>
				<a class="casino-games__col--card" href="poker.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/poker-games.png" alt="Poker" />
					<h3 class="casino-games__col--h3">Poker</h3>
				</a>
				<a class="casino-games__col--card" href="rummy.html">
					<img class="casino-games__col--card-img" src="assets/img/casino/rummy-games.png" alt="Rummy" />
					<h3 class="casino-games__col--h3">Rummy</h3>
				</a>
			</div>
		</div>
	</div>
	<div class="casino-games__col">
		<h2 class="casino-games__col--title">provedores</h2>
		<div class="ed-grid s-grid-2 m-grid-4 l-grid-8 casino-games__col--boxes">
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/spinomenal.svg" alt="spinomenal" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/oneTouch.svg" alt="one Touch" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/betsoft.svg" alt="betsoft" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/playson.svg" alt="playson" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/vibraGaming.svg" alt="vibraGaming" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/pragmaticPlay.svg" alt="pragmatic Play" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/salsa.svg" alt="salsa" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/noble.svg" alt="noble" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/nsoft.svg" alt="nsoft" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/evolutionGaming.svg" alt="evolution Gaming" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/nucleus.svg" alt="nucleus" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/endorphina.svg" alt="endorphina" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/vivoGaming.svg" alt="vivoGaming" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/1x2Gamning.svg" alt="1x2Gamning" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/gamshy.svg" alt="gamshy" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/irondog.svg" alt="irondog" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/Bgaming.svg" alt="Bgaming" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/ezugi.svg" alt="ezugi" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/goldenRace.svg" alt="golden Race" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/slotExchange.svg" alt="slotExchange" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/jackpot.svg" alt="jackpot" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/revolver.svg" alt="revolver" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/casino platinum.svg" alt="casino platinum" />
			</div>
			<div class="casino-games__col--box">
				<img src="assets/img/provedores/habanero.svg" alt="habanero" />
			</div>
		</div>
	</div>
	<button class="btn btn__primary casino-games__col--button">Ver todos los juegos</button>
</div>
