<div class="ed-grid m-grid-2 lg-grid-4 row-gap main-footer__content">
	<ul class="main-footer__ul data-list">
		<li class="main-footer__li">
			<a class="foot-icon" href="sports.html">Términos y condiciones</a>
		</li>
		<li class="main-footer__li">
			<a class="foot-icon" href="casino.html">Política de privacidad</a>
		</li>
	</ul>
	<ul class="main-footer__ul data-list">
		<li class="main-footer__li">
			<a class="foot-icon" href="banking.html">Programa de afiliados</a>
		</li>
		<li class="main-footer__li">
			<a class="foot-icon" href="bonuses.html">Reglas de casino</a>
		</li>
	</ul>
	<ul class="main-footer__ul data-list">
		<li class="main-footer__li">
			<a class="foot-icon" href="rules.html">reglas de la casa</a>
		</li>
		<li class="main-footer__li">
			<a class="foot-icon" href="rules.html">reglas de deportes</a>
		</li>
	</ul>
	<ul class="main-footer__ul data-list">
		<li class="main-footer__li">
			<a class="foot-icon" href="rules.html">Juego Responsable</a>
		</li>
		<li>
			<div class="main-footer__connect--container">
				<ul class="main-footer__connect--list"> 
					<li class="main-footer__connect--li"> 
						<a href="ejkjfewjfw" target="_blank">
							<img src="assets/img/face.png" alt="Instagram">
						</a>
					</li>
					<li class="main-footer__connect--li"> 
						<a href="ejkjfewjfw" target="_blank">
							<img src="assets/img/twiter.png" alt="facebook">
						</a>
					</li>
					<li class="main-footer__connect--li"> 
						<a href="ejkjfewjfw" target="_blank">
							<img src="assets/img/ig.png" alt="l8">
						</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
</div>

