<div class="caballos-layout">
	<h1 class="caballos-layout__h1">caballos</h1>
	<div class="caballos-layout__container">
		<div class="caballos-layout__container--content">
			<p class="caballos-layout__container--p">
				El Derby de Kentucky, Preakness Stakes, Breeders Cup, incluso la Copa de Dubai en un solo lugar.
				Contamos con acceso a más de 200 pistas en todo el mundo, los 365 días del año. Nuestro personal con
				gusto te dará la información detallada de las pistas, caballos y todo lo que necesites para convertirte
				en un verdadero experto. Visita nuestros locales o apuesta en línea y disfruta la emoción de las
				carreras.
			</p>
			<section class="caballos-layout__racebook racebookExternal">
				<h2 class="caballos-layout__racebook--h2">LISTA DE CARRERAS E INFORMACIÓN</h2>
				<div class="caballos-layout__racebook--container-table">
					<table class="caballos-layout__racebook--table main-table">
						<colgroup>
							<col class="caballos-layout__racebook-table-col">
							<col class="caballos-layout__racebook-table-col">
							<col class="caballos-layout__racebook-table-col">
							<col class="caballos-layout__racebook-table-col">
							<col class="caballos-layout__racebook-table-col">
							<col class="caballos-layout__racebook-table-col">
						</colgroup>
						<thead class="caballos-layout__racebook-table--thead">
							<tr class="caballos-layout__racebook-table--tr">
								<th scope="col" class="caballos-layout__racebook-table--th"></th>
								<th scope="col" class="caballos-layout__racebook-table--th-bold">PISTA A</th>
								<th scope="col" class="caballos-layout__racebook-table--th-bold">PISTA B</th>
								<th scope="col" class="caballos-layout__racebook-table--th-bold">PISTA C</th>
								<th scope="col" class="caballos-layout__racebook-table--th-bold">Galgos</th>
								<th scope="col" class="caballos-layout__racebook-table--th-bold">INTERNACIONAL</th>
							</tr>
						</thead>
						<tbody class="caballos-layout__racebook-table--body">
							<tr class="caballos-layout__racebook-table--tr">
								<th scope="row" class="caballos-layout__racebook-table--th">1ero/2do/3ero LIMITES</th>
								<td class="caballos-layout__racebook-table--td">$500</td>
								<td class="caballos-layout__racebook-table--td">$250</td>
								<td class="caballos-layout__racebook-table--td">$100</td>
								<td class="caballos-layout__racebook-table--td">$100</td>
								<td class="caballos-layout__racebook-table--td">$250</td>
							</tr>
							<tr class="caballos-layout__racebook-table--tr">
								<th scope="row" class="caballos-layout__racebook-table--th">COMBINADAS LIMITES</th>
								<td class="caballos-layout__racebook-table--td">$100</td>
								<td class="caballos-layout__racebook-table--td">$50</td>
								<td class="caballos-layout__racebook-table--td">$20</td>
								<td class="caballos-layout__racebook-table--td">$20</td>
								<td class="caballos-layout__racebook-table--td">$50</td>
							</tr>
							<tr class="caballos-layout__racebook-table--tr">
								<th scope="row" class="caballos-layout__racebook-table--th">COMBINADAS LIMITES</th>
								<td class="caballos-layout__racebook-table--td">9%</td>
								<td class="caballos-layout__racebook-table--td">5%</td>
								<td class="caballos-layout__racebook-table--td">2%</td>
								<td class="caballos-layout__racebook-table--td">2%</td>
								<td class="caballos-layout__racebook-table--td">2%</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="caballos-layout__racebook--warning">
					<p>Todas las carreras pagan un máximo de $5,000</p>
					<a href="#" class="btn btn__third caballos-layout__racebook--href">Ver lista completa de carreras</a>
				</div>
			</section>
			<div class="caballos-layout__sign-up">
				<a class="btn btn__primary caballos-layout__sign-up--href" href="register.html">Registrate ahora</a>
			</div>
		</div>
	</div>
</div>
