section(class='main-container__content') 
	h2(class='main-container__h2') Reach into Santa’s bag this Holiday Season
	p(class='main-container__p') It’s time to get in the holiday spirit over at Jazz Sports with our Christmas based Slots Tournament. 
	p(class='main-container__p') Sign up to our month-long December tournament and receive great rewards just by getting a higher score than the other participants. Up to $2500 in prizes to add to your bankroll. 

section(class='main-container__items') 
	h2(class='main-container__h2') How to participate?
	div(class='main-container__grid')
		div(class='main-container__grid--item')
			img(src='assets/img/1.svg', alt="" class='main-container__grid--img')
			p(class='main-container__p') After entering your account, head over to the <strong>Casino Lobby</strong>
		
		div(class='main-container__grid--item')
			img(src='assets/img/2.svg', alt="" class='main-container__grid--img')
			p(class='main-container__p') Select Concept Gaming as your provider and enter the <strong>Slots Tournament</strong> window
		
		div(class='main-container__grid--item')
			img(src='assets/img/3.svg', alt="" class='main-container__grid--img')
			p(class='main-container__p') Select the Christmas Slots Tournament and press <strong>“Join”</strong>
		
		div(class='main-container__grid--item')
			img(src='assets/img/4.svg', alt="" class='main-container__grid--img')
			p(class='main-container__p') Enter your Tournament Name and click <strong>“OK”</strong>
		
		div(class='main-container__grid--item')
			img(src='assets/img/5.svg', alt="" class='main-container__grid--img')
			p(class='main-container__p') After this, you’ll be taken to your Tournament Slots game where <strong>you can start playing</strong>
		
		div(class='main-container__grid--item')
			img(src='assets/img/6.svg', alt="" class='main-container__grid--img')
			p(class='main-container__p')  If you are ready for a Re-Buy, you’ll see the option to purchase in the Tournament Lobby
include table
