<div class="slider">

	<div class="slider__slides">

		<div class="slider__slides--item">
			<picture class="slider__slides--picture">
				<source media="(min-width: 640px)", srcset="assets/img/slider/sliders-5PROMO.jpg", class='slider__slides--picture'>
				<img class="slider__slides--img" src="assets/img/slider/sliders-5PROMO-mobile.jpg" alt="registrate y te obsequiamos $5USD">
			</picture>
			<div class="slider__content">
				<p	class="slider__content--p">registrate <strong class="slider__content--strong">y te obsequiamos</strong></p>
				<h1 class="slider__content--h1">$5usd</h1>
				<a class="slider__content--a btn btn__primary" href="#">registrate ya</a>
			</div>
			<div class="slider__link">
				<a class="slider__link--a btn btn__primary" href="#">registrate ya</a>
			</div>
		</div>

		<!-- <div class="slider__slides--item">
			<picture class="slider__slides--picture">
				<source media="(min-width: 640px)", srcset="assets/img/slider/sliders-GALLOS.jpg", class='slider__slides--picture'>
				<img class="slider__slides--img" src="assets/img/slider/sliders-GALLOS-mobile.jpg" alt="registrate y te obsequiamos $5USD">
			</picture>
			<div class="slider__content gallos">
				<p	class="slider__content--p"><strong class="slider__content--strong">¡no esperes mas!</strong></p>
				<p	class="slider__content--p">la mejor plataforma</p>
				<h1 class="slider__content--h1">de peleas de gallo</h1>
				<a class="slider__content--a btn btn__primary" href="#">ingresa ya</a>
			</div>
			<div class="slider__link">
				<a class="slider__link--a btn btn__primary" href="#">ingresa ya</a>
			</div>
		</div> -->

		<!-- <div class="slider__slides--item">
			<picture class="slider__slides--picture">
				<source media="(min-width: 640px)", srcset="assets/img/slider/sliders-caballos.jpg", class='slider__slides--picture'>
				<img class="slider__slides--img" src="assets/img/slider/sliders-caballos-mobile.jpg" alt="registrate y te obsequiamos $5USD">
			</picture>
			<div class="slider__content caballos-slider">
				<p	class="slider__content--p">disfruta de los mejores</p>
				<p	class="slider__content--p">hipódromos del mundo</p>
				<p  class="slider__content--p"><strong>disfruta de hasta un</strong></p>
				<h1 class="slider__content--h1">9%</h1>
				<p  class="slider__content--p"><strong>de reembolso</strong></p>
				<a class="slider__content--a btn btn__primary" href="#">ingresa ya</a>
			</div>
			<div class="slider__link">
				<a class="slider__link--a btn btn__primary" href="#">ingresa ya</a>
			</div>
		</div> -->

		<!-- <div class="slider__slides--item">
			<picture class="slider__slides--picture">
				<source media="(min-width: 640px)" , srcset="assets/img/slider/sliders-rugby.jpg" ,
					class='slider__slides--picture'>
				<img class="slider__slides--img" src="assets/img/slider/sliders-rugby-mobile.jpg"
					alt="registrate y te obsequiamos $5USD">
			</picture>
			<div class="slider__content rugby">
				<p class="slider__content--p">te damos el</p>
				<h1 class="slider__content--h1">10%</h1>
				<p class="slider__content--p">
					<strong class="slider__content--strong">de deposito</strong>
				</p>
				<p class="slider__content--p">
					<strong class="slider__content--strong">aprovecha la mejor oferta de apuestas deportivas</strong>
					</p>
				<a class="slider__content--a btn btn__primary" href="#">ingresa ya</a>
			</div>
			<div class="slider__link">
				<a class="slider__link--a btn btn__primary" href="#">ingresa ya</a>
			</div>
		</div> -->
		
	</div>

</div>
