<div class="sports">
	<h2 class="sports__h2">deportes</h2>
	<div class="sports__gallery ed-container">

		<div class="sports__gallery--box ed-item">
			<picture class="sports__gallery--picture">
				<source media="(min-width: 640px)", srcset="assets/img/deportes/baseball-desktop.jpg",>
				<img src="assets/img/deportes/baseball-mob.jpg" alt="baseball" class="sports__gallery--img">
			</picture>
			<div class="sports__gallery--content">
				<h3 class="sports__gallery--h3">baseball</h3>
			</div>
		</div>

		<div class="sports__gallery--container ed-item">
			<div class="sports__gallery--col">
				<div class="sports__gallery--box">
					<picture class="sports__gallery--picture">
						<source media="(min-width: 640px)", srcset="assets/img/deportes/nba.jpg",>
						<img src="assets/img/deportes/nba.jpg" alt="NBA" class="sports__gallery--img">
					</picture>
					<div class="sports__gallery--content">
						<h3 class="sports__gallery--h3">nba</h3>
					</div>
				</div>
	
				<div class="sports__gallery--box">
					<picture class="sports__gallery--picture">
						<source media="(min-width: 640px)", srcset="assets/img/deportes/rugby.jpg",>
						<img src="assets/img/deportes/rugby.jpg" alt="rugby" class="sports__gallery--img">
					</picture>
					<div class="sports__gallery--content">
						<h3 class="sports__gallery--h3">rugby</h3>
					</div>
				</div>

			</div>
			
			<div class="sports__gallery--box">
				<picture class="sports__gallery--picture">
					<source media="(min-width: 640px)", srcset="assets/img/deportes/soccer.jpg",>
					<img src="assets/img/deportes/soccer.jpg" alt="soccer" class="sports__gallery--img">
				</picture>
				<div class="sports__gallery--content">
					<h3 class="sports__gallery--h3">soccer</h3>
				</div>
			</div>

		</div>

	</div>
</div>
