<nav class="top-nav">
	<div class="top-nav__container">
		<a class="top-nav__link" href="./">
			<img class="top-nav__logo" src="assets/img/caribebets-logo.svg" alt="logo caribeBets">
		</a>
		<ul class="top-nav__menu">
			<li class="top-nav__li">
				<a class="top-nav__anchor" href="#">deportes</a>
			</li>
			<li class="top-nav__li">
				<a class="top-nav__anchor" href="casino.html">casino</a>
			</li>
			<li class="top-nav__li">
				<a class="top-nav__anchor" href="caballos.html">Caballos</a>
			</li>
			<li class="top-nav__li">
				<a class="top-nav__anchor" href="promociones.html">promociones</a>
			</li>
			<li class="top-nav__li">
				<a class="top-nav__anchor" href="banca.html">banca</a>
			</li>
		</ul>
		<div class="top-nav__action">
			<div class="top-nav__btns btn">
				<a href="#" class="btn__login btn" type="button">ingresar</a>
				<a href="#" class="btn__sign-up btn" type="button">registrarse</a>
			</div>
			<button class="top-nav__mb-iconMenu hamburger hamburger--slider-r" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</div>
	</div>
</nav>
