- pages = ['sports', 'Esports', 'Casino', 'Horses', 'Virtual Sports', 'Bonuses', 'Contests', 'Banking']
nav(class='top-nav')
	div(class='top-nav__container')
		a(href='./', class='top-nav__link')
			img(src='assets/img/logo-normal.png', alt='', class='top-nav__logo')
		ul(class='top-nav__menu')
			each page in pages 
				li(class='top-nav__li'): a(href=`${page.split(' ').join('-')}`, class='top-nav__anchor')=page
			div(class='top-nav__btns btn')
				button(type='button', class='btn__primary btn') Join
				button(type='button', class='btn__secondary btn') Login
		div(class='top-nav__btns--xl btn')
			button(type='button', class='btn__primary btn') Join
			button(type='button', class='btn__secondary btn') Login

		button(type='button', class='top-nav__mb-iconMenu hamburger hamburger--slider-r')
			span.hamburger-box
				span.hamburger-inner
